In [33]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [34]:
%%sql
sqlite:///tempdb.sqlite

'Connected: @tempdb.sqlite'

In [35]:
import pandas as pd
from sqlalchemy import create_engine

In [36]:
df=pd.read_csv('Dish.csv')

In [37]:
# Save the data to a file based SQLlite database
engine=create_engine('sqlite:///tempdb.sqlite')
df.to_sql('my_table',con=engine,index=False,if_exists='replace')

In [38]:
%%sql
SELECT * FROM sqlite_master WHERE type='table'

 * sqlite:///tempdb.sqlite
Done.

[('table', 'table', 'table', 2, 'CREATE TABLE "table" (\n\tname TEXT, \n\ttype TEXT, \n\tcost BIGINT\n)'),
 ('table', 'my_table', 'my_table', 3, 'CREATE TABLE my_table (\n\tname TEXT, \n\ttype TEXT, \n\tcost BIGINT\n)')]

In [39]:
%sql SELECT * FROM my_table

 * sqlite:///tempdb.sqlite
Done.

[('ravioli', 'entree', 10),
 ('ramen', 'entree', 13),
 ('taco', 'entree', 7),
 ('edamame', 'appetizer', 4),
 ('fries', 'appetizer', 4),
 ('potsticker', 'appetizer', 4),
 ('ice cream', 'dessert', 5)]