# More on JSON

Your are provided data of a company and its employess in Json formate.
You need to perform EDA and solve the problems listed down.

In [1]:
# Load Libraries
import pandas as pd
import numpy as np

**Question 1:**

Retrieve and display the company's name and location from the JSON data.

In [60]:
#code Here
import json

with open('./data/employee_company_data.json', 'r') as f:
    data = json.load(f)
data

{'metadata': {'version': '1.0',
  'description': 'Employee and Company Data',
  'last_updated': '2023-09-30'},
 'employees': [{'id': 1,
   'firstName': 'John',
   'lastName': 'Doe',
   'position': 'Software Engineer',
   'salary': 75000,
   'email': 'john.doe@techcorp.com',
   'hireDate': '2020-05-15',
   'manager': 'Michael Brown',
   'address': {'street': '123 Main St',
    'city': 'San Francisco',
    'state': 'CA',
    'zipcode': '94101'}},
  {'id': 2,
   'firstName': 'Alice',
   'lastName': 'Smith',
   'position': 'Data Analyst',
   'salary': 60000,
   'email': 'alice.smith@techcorp.com',
   'hireDate': '2019-08-22',
   'manager': 'Michael Brown',
   'address': {'street': '456 Elm St',
    'city': 'San Francisco',
    'state': 'CA',
    'zipcode': '94102'}},
  {'id': 3,
   'firstName': 'Bob',
   'lastName': 'Johnson',
   'position': 'Product Manager',
   'salary': 85000,
   'email': 'bob.johnson@techcorp.com',
   'hireDate': '2018-03-10',
   'manager': 'Sarah Williams',
   'address': {'street': '789 Oak St',
    'city': 'San Francisco',
    'state': 'CA',
    'zipcode': '94103'}},
  {'id': 4,
   'firstName': 'Emily',
   'lastName': 'Wilson',
   'position': 'UX Designer',
   'salary': 70000,
   'email': 'emily.wilson@techcorp.com',
   'hireDate': '2021-02-28',
   'manager': 'Sarah Williams',
   'address': {'street': '101 Pine St',
    'city': 'San Francisco',
    'state': 'CA',
    'zipcode': '94104'}}],
 'departments': {'engineering': ['John Doe', 'Alice Smith'],
  'product_management': ['Bob Johnson', 'Emily Wilson'],
  'design': ['Emily Wilson']},
 'company_info': {'name': 'TechCorp',
  'location': 'San Francisco, CA',
  'foundedYear': 2000,
  'ceo': 'Sarah Williams'},
 'office_locations': {'san_francisco_hq': {'street': '500 Tech Plaza',
   'city': 'San Francisco',
   'state': 'CA',
   'zipcode': '94105'},
  'new_york_branch': {'street': '123 Wall St',
   'city': 'New York',
   'state': 'NY',
   'zipcode': '10005'}},
 'benefits': {'health_insurance': True,
  'retirement_plan': True,
  'vacation_days': 20}}

In [61]:
print(type(data))
print(data.keys())

<class 'dict'>
dict_keys(['metadata', 'employees', 'departments', 'company_info', 'office_locations', 'benefits'])

In [62]:
data['metadata']

{'version': '1.0',
 'description': 'Employee and Company Data',
 'last_updated': '2023-09-30'}

In [63]:
#code Here
print(type(data['employees']))

print(data['employees'][3].keys())
print(data['employees'][0])

<class 'list'>
dict_keys(['id', 'firstName', 'lastName', 'position', 'salary', 'email', 'hireDate', 'manager', 'address'])
{'id': 1, 'firstName': 'John', 'lastName': 'Doe', 'position': 'Software Engineer', 'salary': 75000, 'email': 'john.doe@techcorp.com', 'hireDate': '2020-05-15', 'manager': 'Michael Brown', 'address': {'street': '123 Main St', 'city': 'San Francisco', 'state': 'CA', 'zipcode': '94101'}}

In [64]:
print('Company Name :',data['company_info']['name'])
print('Company Location :',data['company_info']['location'])

Company Name : TechCorp
Company Location : San Francisco, CA

Convert given employees data into a dataframe.

In [65]:
employees_data=data['employees']
df=pd.DataFrame(employees_data)
df=df.set_index('id')
df

,firstName,lastName,position,salary,email,hireDate,manager,address
id,,,,,,,,
1,John,Doe,Software Engineer,75000,john.doe@techcorp.com,2020-05-15,Michael Brown,"{'street': '123 Main St', 'city': 'San Francis..."
2,Alice,Smith,Data Analyst,60000,alice.smith@techcorp.com,2019-08-22,Michael Brown,"{'street': '456 Elm St', 'city': 'San Francisc..."
3,Bob,Johnson,Product Manager,85000,bob.johnson@techcorp.com,2018-03-10,Sarah Williams,"{'street': '789 Oak St', 'city': 'San Francisc..."
4,Emily,Wilson,UX Designer,70000,emily.wilson@techcorp.com,2021-02-28,Sarah Williams,"{'street': '101 Pine St', 'city': 'San Francis..."

**Question 2:**

 Find and display the first name, last name, and email address of the employee with ID 3.

In [66]:
df.loc[df.index == 3, ['firstName', 'lastName', 'email']]

   firstName lastName                     email
id
3        Bob  Johnson  bob.johnson@techcorp.com

**Question 3:**

Find the department with the most employees, and display its name along with the number of employees it has.

In [67]:
data['departments'].keys()

dict_keys(['engineering', 'product_management', 'design'])

In [68]:
a = []
for i in data['departments']:
    # Append the length of the employees list for each department
    a.append(len(data['departments'][i]))

# Find the index of the department with the most employees
b = np.argmax(a)

# Get the maximum number of employees
c = max(a)

# Get the department name with the most employees
department_name = list(data['departments'].keys())[b]

# Print the result
print(f"Department with max employees: {department_name} \nNumber of employees: {c}")

Department with max employees: engineering
Number of employees: 2

**Question 4:**

Retrieve and display the street addresses of the "san_francisco_hq" and "new_york_branch" office locations.

In [80]:
# code Here
locations=data['office_locations']
locations=pd.DataFrame(locations)
locations.iloc[0]

san_francisco_hq    500 Tech Plaza
new_york_branch        123 Wall St
Name: street, dtype: object

**Question 5:**

Determine whether the company offers health insurance and a retirement plan. Provide the results as "Yes" or "No."

In [87]:
# code Here
if data['benefits'].get('health_insurance')==True:
    print('Yes')
else:
    print('No')

Yes

**Question 6:**

Display the version and last updated date from the metadata section of the JSON data.

In [108]:
# code Here
print('Latest Version:', data['metadata']['version'])
print('Latest Update:', data['metadata']['last_updated'])

Latest Version: 1.0
Latest Update: 2023-09-30

**Question 7:**

 Sort the employees by their hire date in ascending order and display the first five employees in the sorted list.

In [126]:
# code Here
employees=pd.DataFrame(data['employees'])
employees.sort_values(by='hireDate',ascending=True)

,id,firstName,lastName,position,salary,email,hireDate,manager,address
2,3,Bob,Johnson,Product Manager,85000,bob.johnson@techcorp.com,2018-03-10,Sarah Williams,"{'street': '789 Oak St', 'city': 'San Francisc..."
1,2,Alice,Smith,Data Analyst,60000,alice.smith@techcorp.com,2019-08-22,Michael Brown,"{'street': '456 Elm St', 'city': 'San Francisc..."
0,1,John,Doe,Software Engineer,75000,john.doe@techcorp.com,2020-05-15,Michael Brown,"{'street': '123 Main St', 'city': 'San Francis..."
3,4,Emily,Wilson,UX Designer,70000,emily.wilson@techcorp.com,2021-02-28,Sarah Williams,"{'street': '101 Pine St', 'city': 'San Francis..."

**Question 8:**

Count the number of employees in the dataset and display the result.

In [133]:
# code Here
print(f'There count of employees is {len(employees)}.')

There count of employees is 4.

**Question 9:**

Identify employees who do not have a manager (i.e., manager field is empty), and display their names and positions.

In [140]:
# code Here
if employees['manager'].isnull().any():
    print(employees.loc[employees['manager'].isnull(), ['firstName', 'lastName']])
else:
    print('There is no employee without a manager')

There is no employee without a manager

**Question 10: Bonus Part**

Using a geocoding service or library of your choice (e.g., geopy), convert the street addresses of all office locations into latitude and longitude coordinates. Then, provide the coordinates for each office location.