In [84]:
import pandas as pd # A general purpose Python library for data analysis
import numpy as np # A library for scientific computing in Python (e.g., provides high-performance multi-dimensional array objects and operations)

import matplotlib.pyplot as plt # a plotting library for Python and NumPy (readily customizable)
import seaborn as sns # Another plotting library for Python (fewer syntax, excellent default themes, behind the scenes, it uses matplotlib)
import time

## Knowledge Streams 2024

In this notebook, we will learn about the key data structures provided by the Pandas library: **Data Frames, Series, and Indices**.

In addition, we will learn about the following operations:
* How to access data contained in these structures?
* How to read files (e.g., csv, xlsx, sql) to create these structures?
* How to carry out different data manipulation tasks using these structures?

`Dataset`: US elections with information about candidates, their party, votes won, year of election and the result.

## Reading in Data Frames from Files
We'll be using **read_csv** today. Note that this file reading function does all the *data parsing* for you, which is very useful.

Before loading a file into a dataframe, let's first take a look at the **elections.csv** file

In [85]:
#Load csv file and print shape
# Code here
elections=pd.read_csv('./data/elections.csv')

# how many observation and features are given
#Code here
print(f'.\nThe data set has {elections.shape[0]} observations and {elections.shape[1]} features')

.
The data set has 182 observations and 6 features

In [86]:
# We can use the **head command** to show only a few rows of a dataframe from start.
# Code here
print(elections.head())
#Use **tail command** to show last few observation.
# code here
print(elections.tail())

   Year          Candidate                  Party  Popular vote Result  \
0  1824     Andrew Jackson  Democratic-Republican        151271   loss
1  1824  John Quincy Adams  Democratic-Republican        113142    win
2  1828     Andrew Jackson             Democratic        642806    win
3  1828  John Quincy Adams    National Republican        500897   loss
4  1832     Andrew Jackson             Democratic        702735    win

           %
0  57.210122
1  42.789878
2  56.203927
3  43.796073
4  54.574789
     Year       Candidate        Party  Popular vote Result          %
177  2016      Jill Stein        Green       1457226   loss   1.073699
178  2020    Joseph Biden   Democratic      81268924    win  51.311515
179  2020    Donald Trump   Republican      74216154   loss  46.858542
180  2020    Jo Jorgensen  Libertarian       1865724   loss   1.177979
181  2020  Howard Hawkins        Green        405035   loss   0.255731

In [87]:
# #The `read_csv` command lets us specify a **column to use an index**. For example, we could have used __Year__ as the index.
# #Code here
# elections=pd.read_csv('./data/elections.csv',index_col='Year')
# elections.head()

In [88]:
#Alternately, we could have used the **set_index** commmand on the dataframe to set a particular column as index.
# code here
# elections.set_index('Party',inplace=True)
# elections.head()

# Caution:
The **set_index command** (along with all other data frame methods) **does not modify the dataframe**, i.e., the original "elections" is untouched. Note: There is a flag called "inplace" which does modify the calling dataframe (e.g., `elections.set_index("Party",inplace=True)`).

## Duplicate Columns?
By contast, column names MUST be unique. For example, if we try to read in a file for which column names are not unique, Pandas will automatically any duplicates. Load duplicate_columns.csv

In [89]:
#Answer Here
duplicate=pd.read_csv('./data/duplicate_columns.csv')
duplicate

    name    name.1      flavor
0   john     smith     vanilla
1  zhang      shan   chocolate
2  fulan  alfulani  strawberry
3   hong   gildong      banana

## The [ ] Operator & Indexing

The DataFrame class has an indexing operator **[ ]** (also known as the 'brack' operator) that lets you do a variety of different things. If your provide a String to the **[ ]** operator, you get back a ***Series*** corresponding to the requested label.

1.Use **[ ]** to display different columns

2.Use List retrive multiple columns

In [90]:
# Display and Retrieve multiple columns from the election data frame, the resultant would be the list for every column.
#Code here
candidate_list = elections['Candidate'].tolist()
popular_vote_list = elections['Popular vote'].tolist()

# Display the lists
print("Candidate List:", candidate_list)
print("\nPopular Vote List:", popular_vote_list)

Candidate List: ['Andrew Jackson', 'John Quincy Adams', 'Andrew Jackson', 'John Quincy Adams', 'Andrew Jackson', 'Henry Clay', 'William Wirt', 'Hugh Lawson White', 'Martin Van Buren', 'William Henry Harrison', 'Martin Van Buren', 'William Henry Harrison', 'Henry Clay', 'James Polk', 'Lewis Cass', 'Martin Van Buren', 'Zachary Taylor', 'Franklin Pierce', 'John P. Hale', 'Winfield Scott', 'James Buchanan', 'John C. Fr√©mont', 'Millard Fillmore', 'Abraham Lincoln', 'John Bell', 'John C. Breckinridge', 'Stephen A. Douglas', 'Abraham Lincoln', 'George B. McClellan', 'Horatio Seymour', 'Ulysses Grant', 'Horace Greeley', 'Ulysses Grant', 'Rutherford Hayes', 'Samuel J. Tilden', 'James B. Weaver', 'James Garfield', 'Winfield Scott Hancock', 'Benjamin Butler', 'Grover Cleveland', 'James G. Blaine', 'John St. John', 'Alson Streeter', 'Benjamin Harrison', 'Clinton B. Fisk', 'Grover Cleveland', 'Benjamin Harrison', 'Grover Cleveland', 'James B. Weaver', 'John Bidwell', 'John M. Palmer', 'Joshua Levering', 'William Jennings Bryan', 'William McKinley', 'John G. Woolley', 'William Jennings Bryan', 'William McKinley', 'Alton B. Parker', 'Eugene V. Debs', 'Silas C. Swallow', 'Theodore Roosevelt', 'Thomas E. Watson', 'Eugene V. Debs', 'Eugene W. Chafin', 'William Jennings Bryan', 'William Taft', 'Eugene V. Debs', 'Eugene W. Chafin', 'Theodore Roosevelt', 'William Taft', 'Woodrow Wilson', 'Allan L. Benson', 'Charles Evans Hughes', 'Frank Hanly', 'Woodrow Wilson', 'Aaron S. Watkins', 'Eugene V. Debs', 'James M. Cox', 'Parley P. Christensen', 'Warren Harding', 'Calvin Coolidge', 'John W. Davis', 'Robert La Follette', 'Al Smith', 'Herbert Hoover', 'Norman Thomas', 'Franklin Roosevelt', 'Herbert Hoover', 'Norman Thomas', 'William Z. Foster', 'Alf Landon', 'Franklin Roosevelt', 'Norman Thomas', 'William Lemke', 'Franklin Roosevelt', 'Norman Thomas', 'Wendell Willkie', 'Franklin Roosevelt', 'Thomas E. Dewey', 'Claude A. Watson', 'Harry Truman', 'Henry A. Wallace', 'Norman Thomas', 'Strom Thurmond', 'Thomas E. Dewey', 'Adlai Stevenson', 'Dwight Eisenhower', 'Vincent Hallinan', 'Adlai Stevenson', 'Dwight Eisenhower', 'T. Coleman Andrews', 'John Kennedy', 'Richard Nixon', 'Barry Goldwater', 'Lyndon Johnson', 'George Wallace', 'Hubert Humphrey', 'Richard Nixon', 'George McGovern', 'John G. Schmitz', 'Richard Nixon', 'Eugene McCarthy', 'Gerald Ford', 'Jimmy Carter', 'Lester Maddox', 'Roger MacBride', 'Thomas J. Anderson', 'Barry Commoner', 'Ed Clark', 'Jimmy Carter', 'John B. Anderson', 'Ronald Reagan', 'David Bergland', 'Ronald Reagan', 'Walter Mondale', 'George H. W. Bush', 'Lenora Fulani', 'Michael Dukakis', 'Ron Paul', 'Andre Marrou', 'Bill Clinton', 'Bo Gritz', 'George H. W. Bush', 'Ross Perot', 'Bill Clinton', 'Bob Dole', 'Harry Browne', 'Howard Phillips', 'John Hagelin', 'Ralph Nader', 'Ross Perot', 'Al Gore', 'George W. Bush', 'Harry Browne', 'Pat Buchanan', 'Ralph Nader', 'David Cobb', 'George W. Bush', 'John Kerry', 'Michael Badnarik', 'Michael Peroutka', 'Ralph Nader', 'Barack Obama', 'Bob Barr', 'Chuck Baldwin', 'Cynthia McKinney', 'John McCain', 'Ralph Nader', 'Barack Obama', 'Gary Johnson', 'Jill Stein', 'Mitt Romney', 'Darrell Castle', 'Donald Trump', 'Evan McMullin', 'Gary Johnson', 'Hillary Clinton', 'Jill Stein', 'Joseph Biden', 'Donald Trump', 'Jo Jorgensen', 'Howard Hawkins']

Popular Vote List: [151271, 113142, 642806, 500897, 702735, 484205, 100715, 146109, 763291, 550816, 1128854, 1275583, 1300004, 1339570, 1223460, 291501, 1360235, 1605943, 155210, 1386942, 1835140, 1342345, 873053, 1855993, 590901, 848019, 1380202, 2211317, 1812807, 2708744, 3013790, 2834761, 3597439, 4034142, 4288546, 308649, 4453337, 4444976, 134294, 4914482, 4856905, 147482, 146602, 5443633, 249819, 5534488, 5176108, 5553898, 1041028, 270879, 134645, 131312, 6509052, 7112138, 210864, 6370932, 7228864, 5083880, 402810, 259102, 7630557, 114070, 420852, 254087, 6408979, 7678335, 901551, 208156, 4122721, 3486242, 6296284, 590524, 8548728, 221302, 9126868, 188787, 913693, 9139661, 265398, 16144093, 15723789, 8386242, 4831706, 15015464, 21427123, 267478, 22821277, 15761254, 884885, 103307, 16679543, 27752648, 187910, 892378, 27313945, 116599, 22347744, 25612916, 22017929, 103708, 24179347, 1157328, 139569, 1175930, 21991292, 27375090, 34075529, 140746, 26028028, 35579180, 107929, 34220984, 34108157, 27175754, 43127041, 9901118, 31271839, 31783783, 29173222, 1100868, 47168710, 740460, 39148634, 40831881, 170274, 172557, 158271, 233052, 921128, 35480115, 5719850, 43903230, 228111, 54455472, 37577352, 48886597, 217221, 41809074, 431750, 290087, 44909806, 106152, 39104550, 19743821, 47400125, 39197469, 485759, 184656, 113670, 685297, 8085294, 50999897, 50456002, 384431, 448895, 2882955, 119859, 62040610, 59028444, 397265, 143630, 465151, 69498516, 523715, 199750, 161797, 59948323, 739034, 65915795, 1275971, 469627, 60933504, 203091, 62984828, 732273, 4489235, 65853514, 1457226, 81268924, 74216154, 1865724, 405035]

The **[ ]** operator also accepts a list of strings. In this case, you get back a **DataFrame** corresponding to the requested strings.

In [91]:
# Answer Here
list=elections[['Candidate','Popular vote']]
list.head()

           Candidate  Popular vote
0     Andrew Jackson        151271
1  John Quincy Adams        113142
2     Andrew Jackson        642806
3  John Quincy Adams        500897
4     Andrew Jackson        702735

A list of one label also returns a DataFrame. This can be handy if you want your results as a DataFrame, not a series.

Note that we can also use the **to_frame** method to turn a Series into a DataFrame.

Extract one col name "Candidates" from DataFrame it will be a series. Convert series into a DataFrame.

In [92]:
# Answer Here
candidate_series = elections['Candidate']
candidate_series.head()

0       Andrew Jackson
1    John Quincy Adams
2       Andrew Jackson
3    John Quincy Adams
4       Andrew Jackson
Name: Candidate, dtype: object

In [93]:
# Answer Here
candidate_df = candidate_series.to_frame()
candidate_df.head()

           Candidate
0     Andrew Jackson
1  John Quincy Adams
2     Andrew Jackson
3  John Quincy Adams
4     Andrew Jackson

### Row Indexing

The `[]` operator also accepts numerical slices as arguments. In this case, we are indexing by row, not column!

Extract few rows from DataFrame

In [94]:
# Answer Here
elections.iloc[0:5]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

If you provide a single argument to the `[]` operator, it tries to use it as a name. This is true even if the argument passed to **[ ]** is an integer.

In [95]:
#elections[0] #this does not work, try uncommenting this to see it fail in action, woo
elections.iloc[0]

Year                             1824
Candidate              Andrew Jackson
Party           Democratic-Republican
Popular vote                   151271
Result                           loss
%                           57.210122
Name: 0, dtype: object

The following cells allow you to **test your understanding**. Let's go over the summary of what we have learnt (see slides).

# Creating DataFrames
Create DataFrame using List and Columns name.

In [96]:
# Answer Here
# Lists for the DataFrame
votes_list = [151271, 113142, 642806]
candidates_list = ['Andrew Jackson', 'John Quincy Adams', 'Andrew Jackson']

# Create DataFrame directly
df_list = pd.DataFrame({
    'Name': candidates_list,
    'Votes': votes_list,
    
})
df_list

                Name   Votes
0     Andrew Jackson  151271
1  John Quincy Adams  113142
2     Andrew Jackson  642806

Creating DataFrames using **Dictionary**.

In [97]:
# Answer Here
data = {
    'Name': ['John', 'Emily', 'Anna'],
    'Age': [25, 32, 29],
    'City': ['New York', 'London', 'Paris']
}

# Create DataFrame from the dictionary
df_dict = pd.DataFrame(data)
df_dict

    Name  Age      City
0   John   25  New York
1  Emily   32    London
2   Anna   29     Paris

## Filtering via Boolean Array Selection

The `[]` operator also supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows. The result is a **filtered version of the data frame**, where **only rows corresponding to True appear**.

In [98]:
elections['Result_bool'] = elections['Result'].replace({'win': True, 'loss': False})
elections.head()

C:\Users\nasrullah\AppData\Local\Temp\ipykernel_15144\3000792151.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  elections['Result_bool'] = elections['Result'].replace({'win': True, 'loss': False})

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122,False
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,True
2,1828,Andrew Jackson,Democratic,642806,win,56.203927,True
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073,False
4,1832,Andrew Jackson,Democratic,702735,win,54.574789,True

One very common task in Data Science is **filtering**. Boolean Array Selection is one way to achieve this in Pandas. We start by observing that **logical operators** like the equality operator can be applied to **Pandas Series data** to generate a **Boolean Array**.

Compare the 'Result' column to the String 'win' and Show results

In [99]:
#Answer Here
mask_result=elections['Result'] == 'win'
winning_candidates=elections[mask_result]
winning_candidates.head()

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,True
2,1828,Andrew Jackson,Democratic,642806,win,56.203927,True
4,1832,Andrew Jackson,Democratic,702735,win,54.574789,True
8,1836,Martin Van Buren,Democratic,763291,win,52.272472,True
11,1840,William Henry Harrison,Whig,1275583,win,53.051213,True

Compare the 'Party' column to the String 'Democratic' and Show results

In [100]:
#Answer Here
mask_democratic = elections['Party'] == 'Democratic'
democratic = elections[mask_democratic]
democratic.head()

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
2,1828,Andrew Jackson,Democratic,642806,win,56.203927,True
4,1832,Andrew Jackson,Democratic,702735,win,54.574789,True
8,1836,Martin Van Buren,Democratic,763291,win,52.272472,True
10,1840,Martin Van Buren,Democratic,1128854,loss,46.948787,False
13,1844,James Polk,Democratic,1339570,win,50.749477,True

The output of the logical operator applied to the Series is **another Series with the same name and index, but of datatype boolean**.

These boolean Series can be used as an argument to the `[]` operator.

Creates  DataFrame of all election winners since 1980.

In [130]:
#Answer Here
# Filtering for winners since 1980
winners_since_1980 = elections[(elections['Year'] >= 1980) & (elections['Result'] == 'win')]
# Displaying the result
iswin=pd.DataFrame(winners_since_1980)
iswin

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
131,1980,Ronald Reagan,Republican,43903230,win,50.897944,True
133,1984,Ronald Reagan,Republican,54455472,win,59.023326,True
135,1988,George H. W. Bush,Republican,48886597,win,53.518845,True
140,1992,Bill Clinton,Democratic,44909806,win,43.118485,True
144,1996,Bill Clinton,Democratic,47400125,win,49.296938,True
152,2000,George W. Bush,Republican,50456002,win,47.974666,True
157,2004,George W. Bush,Republican,62040610,win,50.771824,True
162,2008,Barack Obama,Democratic,69498516,win,53.023510,True
168,2012,Barack Obama,Democratic,65915795,win,51.258484,True
173,2016,Donald Trump,Republican,62984828,win,46.407862,True
178,2020,Joseph Biden,Democratic,81268924,win,51.311515,True

Above, we've assigned the result of the logical operator to a new variable called `iswin`. This is uncommon. Usually, the series is created and used on the same line. Such code is a little tricky to read at first, but you'll get used to it quickly.

Show all 'win' results between 1980 to 2000

In [135]:
#Answer Here
iswin.iloc[0:6]

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
131,1980,Ronald Reagan,Republican,43903230,win,50.897944,True
133,1984,Ronald Reagan,Republican,54455472,win,59.023326,True
135,1988,George H. W. Bush,Republican,48886597,win,53.518845,True
140,1992,Bill Clinton,Democratic,44909806,win,43.118485,True
144,1996,Bill Clinton,Democratic,47400125,win,49.296938,True
152,2000,George W. Bush,Republican,50456002,win,47.974666,True

Show all 'Loss' results of Independent party

In [136]:
# Answer Here
# Filtering for winners since 1980
loser_indep = elections[(elections['Party'] == 'Independent') & (elections['Result'] == 'loss')]
# Displaying the result
loser_indep

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
121,1976,Eugene McCarthy,Independent,740460,loss,0.911649,False
130,1980,John B. Anderson,Independent,5719850,loss,6.631143,False
143,1992,Ross Perot,Independent,19743821,loss,18.956298,False
161,2004,Ralph Nader,Independent,465151,loss,0.380663,False
167,2008,Ralph Nader,Independent,739034,loss,0.563842,False
174,2016,Evan McMullin,Independent,732273,loss,0.539546,False

We can select multiple criteria by creating multiple boolean Series and combining them using the `&` operator.

Show results of win with percentage less than 50%

In [144]:
# Answer Here
win_perc = elections[(elections['Result'] == 'win') & (elections['%'] < 50.0)]
win_perc

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,True
16,1848,Zachary Taylor,Whig,1360235,win,47.309296,True
20,1856,James Buchanan,Democratic,1835140,win,45.306080,True
23,1860,Abraham Lincoln,Republican,1855993,win,39.699408,True
33,1876,Rutherford Hayes,Republican,4034142,win,48.471624,True
36,1880,James Garfield,Republican,4453337,win,48.369234,True
39,1884,Grover Cleveland,Democratic,4914482,win,48.884933,True
43,1888,Benjamin Harrison,Republican,5443633,win,47.858041,True
47,1892,Grover Cleveland,Democratic,5553898,win,46.121393,True
70,1912,Woodrow Wilson,Democratic,6296284,win,41.933422,True
74,1916,Woodrow Wilson,Democratic,9126868,win,49.367987,True
100,1948,Harry Truman,Democratic,24179347,win,49.601536,True
117,1968,Richard Nixon,Republican,31783783,win,43.565246,True
140,1992,Bill Clinton,Democratic,44909806,win,43.118485,True
144,1996,Bill Clinton,Democratic,47400125,win,49.296938,True
152,2000,George W. Bush,Republican,50456002,win,47.974666,True
173,2016,Donald Trump,Republican,62984828,win,46.407862,True

Show all 'win' results between 1980 to 2000

In [145]:
# Answer Here
iswin.iloc[0:6]

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
131,1980,Ronald Reagan,Republican,43903230,win,50.897944,True
133,1984,Ronald Reagan,Republican,54455472,win,59.023326,True
135,1988,George H. W. Bush,Republican,48886597,win,53.518845,True
140,1992,Bill Clinton,Democratic,44909806,win,43.118485,True
144,1996,Bill Clinton,Democratic,47400125,win,49.296938,True
152,2000,George W. Bush,Republican,50456002,win,47.974666,True

## Loc and iLoc

Show 5 enteries from start

In [148]:
elections.head()

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122,False
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,True
2,1828,Andrew Jackson,Democratic,642806,win,56.203927,True
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073,False
4,1832,Andrew Jackson,Democratic,702735,win,54.574789,True

In [150]:
# Answer Here
elections.loc[1:5]

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,True
2,1828,Andrew Jackson,Democratic,642806,win,56.203927,True
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073,False
4,1832,Andrew Jackson,Democratic,702735,win,54.574789,True
5,1832,Henry Clay,National Republican,484205,loss,37.603628,False

You can provide `.loc` a list of row labels [0-5] and column labels ['Candidate','Party', 'Year'] as input to return a dataframe

In [162]:
#Answer Here
elections.loc[0:4, ['Candidate', 'Party', 'Year']]

           Candidate                  Party  Year
0     Andrew Jackson  Democratic-Republican  1824
1  John Quincy Adams  Democratic-Republican  1824
2     Andrew Jackson             Democratic  1828
3  John Quincy Adams    National Republican  1828
4     Andrew Jackson             Democratic  1832

Loc also supports **slicing** (for all types, including numeric and string labels!). Note that the slicing for loc is **inclusive**, even for numeric slices.

Use Slicing on Rows and Columns

In [170]:
# Answer Here
elections.loc[1:5]

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,True
2,1828,Andrew Jackson,Democratic,642806,win,56.203927,True
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073,False
4,1832,Andrew Jackson,Democratic,702735,win,54.574789,True
5,1832,Henry Clay,National Republican,484205,loss,37.603628,False

If we provide only a **single label** for the column argument, we get back a **Series**.

In [173]:
# Answer Here
elections.loc[:, 'Candidate']

0         Andrew Jackson
1      John Quincy Adams
2         Andrew Jackson
3      John Quincy Adams
4         Andrew Jackson
             ...
177           Jill Stein
178         Joseph Biden
179         Donald Trump
180         Jo Jorgensen
181       Howard Hawkins
Name: Candidate, Length: 182, dtype: object

If we want a data frame instead and don't want to use to_frame, we can provide a **list** containing the column name.

In [175]:
# Answer Here
elections.loc[:, ['Candidate']]

             Candidate
0       Andrew Jackson
1    John Quincy Adams
2       Andrew Jackson
3    John Quincy Adams
4       Andrew Jackson
..                 ...
177         Jill Stein
178       Joseph Biden
179       Donald Trump
180       Jo Jorgensen
181     Howard Hawkins

[182 rows x 1 columns]

If we give only one row but many column labels, we'll get back a **Series** corresponding to a row of the table. This new Series has a neat index, where **each entry is the name of the column** that the data came from.

In [185]:
# Answer Here
elections.loc[0, elections.columns[0:7]]

Year                             1824
Candidate              Andrew Jackson
Party           Democratic-Republican
Popular vote                   151271
Result                           loss
%                           57.210122
Result_bool                     False
Name: 0, dtype: object

If we omit the column argument altogether, the **default behavior is to retrieve all columns**.

In [183]:
# Answer Here
elections.loc[0]

Year                             1824
Candidate              Andrew Jackson
Party           Democratic-Republican
Popular vote                   151271
Result                           loss
%                           57.210122
Result_bool                     False
Name: 0, dtype: object

Specify Rows and Columns as List to retrive specific enteries

In [186]:
# Answer Here
rows=[1,2,3]
columns=[1,2,3]
elections.iloc[rows,columns]

           Candidate                  Party  Popular vote
1  John Quincy Adams  Democratic-Republican        113142
2     Andrew Jackson             Democratic        642806
3  John Quincy Adams    National Republican        500897

Boolean Series are also boolean arrays, so we can use the Boolean Array Selection from earlier using loc as well.

In [194]:
# Answer Here
# Creating a Boolean Series
boolean_series = elections['Result'] == 'win'
winning_elections = elections.loc[boolean_series]
winning_elections.head()

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878,True
2,1828,Andrew Jackson,Democratic,642806,win,56.203927,True
4,1832,Andrew Jackson,Democratic,702735,win,54.574789,True
8,1836,Martin Van Buren,Democratic,763291,win,52.272472,True
11,1840,William Henry Harrison,Whig,1275583,win,53.051213,True

## String-labeled Rows

Let's do a quick example using data with string-labeled rows instead of integer labeled rows, just to make sure we're really understanding loc.

Use mottos.csv file

In [213]:
mottos=pd.read_csv('./data/mottos.csv',index_col='State')
mottos.head()

,Motto,Translation,Language,Date Adopted
State,,,,
Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
Alaska,North to the future,‚Äî,English,1967
Arizona,Ditat Deus,God enriches,Latin,1863
Arkansas,Regnat populus,The people rule,Latin,1907
California,Eureka (Œï·ΩïœÅŒ∑Œ∫Œ±),I have found it,Greek,1849

In [214]:
# Answer Here
mottos.loc['Arizona', ['Motto', 'Language']]

Motto       Ditat Deus
Language         Latin
Name: Arizona, dtype: object

Extract slice, can be specified using slice notation, even if the rows have string labels instead of integer labels.

### iloc

loc's cousin iloc is very similar, but is used to access based on numerical position instead of label. For example, to access to the top 3 rows and top 3 columns of a table, we can use [0:3, 0:3]. 'iloc' slicing is **exclusive**, just like standard Python slicing of numerical values.

Use iloc to extract first 3 rows and columns from elections DataFrame

In [216]:
#Answer Here
elections.iloc[0:3,0:3]

   Year          Candidate                  Party
0  1824     Andrew Jackson  Democratic-Republican
1  1824  John Quincy Adams  Democratic-Republican
2  1828     Andrew Jackson             Democratic

We will use both `loc` and `iloc` in the course. `loc` is generally preferred for a number of reasons, for example:

1. It is harder to make mistakes since you have to literally write out what you want to get.
2. Code is easier to read, because the reader doesn't have to know e.g., what column #17 represents.
3. It is robust against permutations of the data, e.g. the social security administration switches the order of two columns.

However, iloc is sometimes more convenient. We'll provide examples of when iloc is the superior choice.

## Handy Properties and Utility Functions for Series and DataFrames

The head, shape, size, and describe methods can be used to quickly get a good sense of the data we're working with. For example:

In [217]:
mottos = pd.read_csv("./data/mottos.csv")

In [225]:
# Answer Here
mottos.head()

,State,Motto,Translation,Language,Date Adopted
0,Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
1,Alaska,North to the future,‚Äî,English,1967
2,Arizona,Ditat Deus,God enriches,Latin,1863
3,Arkansas,Regnat populus,The people rule,Latin,1907
4,California,Eureka (Œï·ΩïœÅŒ∑Œ∫Œ±),I have found it,Greek,1849

Size of DataFrame

In [223]:
# Answer Here
mottos.size

250

The fact that the size is 250 means our data file is relatively small, with only 250 total entries.

Shape of DataFrame

In [224]:
# Answer Here
print(f'The mottos data has {mottos.shape[0]} rows and {mottos.shape[1]}')

The mottos data has 50 rows and 5

Use describe function and extract the meaningful information from DataFrame

In [226]:
# Answer Here
mottos.describe()

,State,Motto,Translation,Language,Date Adopted
count,50,50,49,50,50
unique,50,50,30,8,47
top,Alabama,Audemus jura nostra defendere,‚Äî,Latin,1893
freq,1,1,20,23,2

Above, we see a quick summary of all the data. For example, the most common language for mottos is Latin, which covers 23 different states. Does anything else seem surprising?

We can get a direct reference to the index using .index.

In [227]:
# Answer Here
mottos.index

RangeIndex(start=0, stop=50, step=1)

In [228]:
mottos.head(2)

,State,Motto,Translation,Language,Date Adopted
0,Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
1,Alaska,North to the future,‚Äî,English,1967

It turns out the columns also have an Index. We can access this index by using `.columns`.

In [229]:
# Answer Here
mottos.columns

Index(['State', 'Motto', 'Translation', 'Language', 'Date Adopted'], dtype='object')

## Sorting and Value Counts

There are also a ton of useful utility methods we can use with Data Frames and Series. For example, we can create a copy of a data frame sorted by a specific column using `sort_values`.

In [230]:
# Answer Here
mottos.sort_values(by='State')

,State,Motto,Translation,Language,Date Adopted
0,Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
1,Alaska,North to the future,‚Äî,English,1967
2,Arizona,Ditat Deus,God enriches,Latin,1863
3,Arkansas,Regnat populus,The people rule,Latin,1907
4,California,Eureka (Œï·ΩïœÅŒ∑Œ∫Œ±),I have found it,Greek,1849
5,Colorado,Nil sine numine,Nothing without providence.,Latin,"November 6, 1861"
6,Connecticut,Qui transtulit sustinet,He who transplanted sustains,Latin,"October 9, 1662"
7,Delaware,Liberty and Independence,‚Äî,English,1847
8,Florida,In God We Trust,‚Äî,English,1868
9,Georgia,"Wisdom, Justice, Moderation",‚Äî,English,1798
10,Hawaii,Ua mau ke ea o ka ªƒÅina i ka pono,The life of the land is perpetuated in righteo...,Hawaiian,"July 31, 1843"
11,Idaho,Esto perpetua,Let it be perpetual,Latin,1890
12,Illinois,"State sovereignty, national union",‚Äî,English,1819
13,Indiana,The Crossroads of America,‚Äî,English,1937
14,Iowa,Our liberties we prize and our rights we will ...,‚Äî,English,1847
15,Kansas,Ad astra per aspera,To the stars through difficulties,Latin,1861
16,Kentucky,Deo gratiam habeamus,Let us be grateful to God,Latin,2002
17,Louisiana,"Union, justice, confidence",‚Äî,English,1902
18,Maine,Dirigo,I lead,Latin,1820
19,Maryland,"Fatti maschii, parole femine","Manly deeds, womanly words",Italian,1874
20,Massachusetts,Ense petit placidam sub libertate quietem,"By the sword we seek peace, but peace only und...",Latin,1775
21,Michigan,Si quaeris peninsulam amoenam circumspice,"If you seek a pleasant peninsula, look about you",Latin,"June 2, 1835"
22,Minnesota,L'√©toile du Nord,The star of the North,French,1861
23,Mississippi,Virtute et armis,By valor and arms,Latin,"February 7, 1894"
24,Missouri,Salus populi suprema lex esto,Let the welfare of the people be the supreme law,Latin,"January 11, 1822"
25,Montana,Oro y plata,Gold and silver,Spanish,"February 9, 1865"
26,Nebraska,Equality before the law,‚Äî,English,1867
27,Nevada,All For Our Country,‚Äî,English,"February 24, 1866"
28,New Hampshire,Live Free or Die,‚Äî,English,1945
29,New Jersey,Liberty and prosperity,‚Äî,English,"March 26, 1928"
30,New Mexico,Crescit eundo,It grows as it goes,Latin,1887
31,New York,Excelsior,Ever upward,Latin,1778
32,North Carolina,Esse quam videri,"To be, rather than to seem",Latin,1893
33,North Dakota,\nSerit ut alteri saeclo prosit,One sows for the benefit of another age,Latin,"March 11, 2011"
34,Ohio,"With God, all things are possible",‚Äî,English,"October 1, 1959"
35,Oklahoma,Labor omnia vincit,Labor conquers all things,Latin,"March 10, 1893"
36,Oregon,Alis volat propriis,She flies with her own wings,Latin,1854
37,Pennsylvania,"Virtue, liberty, and independence",‚Äî,English,1875
38,Rhode Island,Hope,‚Äî,English,"May 4, 1664"
39,South Carolina,Dum spiro spero \nAnimis opibusque parati,"While I breathe, I hope \nReady in soul and re...",Latin,"May 22, 1777"
40,South Dakota,Under God the people rule,‚Äî,English,1885
41,Tennessee,Agriculture and Commerce,‚Äî,English,"May 24, 1802"
42,Texas,Friendship,‚Äî,English,1930
43,Utah,Industry,NaN,English,"May 3, 1896"
44,Vermont,Stella quarta decima fulgeat,May the fourteenth star shine bright,Latin,"April 10, 2015"
45,Virginia,Sic semper tyrannis,Thus always to tyrants,Latin,1776
46,Washington,Al-ki or Alki,By and by,Chinook Jargon,‚Äî
47,West Virginia,Montani semper liberi,Mountaineers are always free,Latin,"September 26, 1863"
48,Wisconsin,Forward,‚Äî,English,1851
49,Wyoming,Equal Rights,‚Äî,English,1893

As mentioned before, all Data Frame methods return a copy and do **not** modify the original data structure, unless you set inplace to True.

If we want to sort in reverse order, we can set `ascending=False`.

In [231]:
elections.sort_values('%', ascending=False)

,Year,Candidate,Party,Popular vote,Result,%,Result_bool
114,1964,Lyndon Johnson,Democratic,43127041,win,61.344703,True
91,1936,Franklin Roosevelt,Democratic,27752648,win,60.978107,True
120,1972,Richard Nixon,Republican,47168710,win,60.907806,True
79,1920,Warren Harding,Republican,16144093,win,60.574501,True
133,1984,Ronald Reagan,Republican,54455472,win,59.023326,True
...,...,...,...,...,...,...,...
165,2008,Cynthia McKinney,Green,161797,loss,0.123442,False
148,1996,John Hagelin,Natural Law,113670,loss,0.118219,False
160,2004,Michael Peroutka,Constitution,143630,loss,0.117542,False
141,1992,Bo Gritz,Populist,106152,loss,0.101918,False
156,2004,David Cobb,Green,119859,loss,0.098088,False

We can also use `sort_values` on Series objects.

In [232]:
mottos['Language'].sort_values().head(50)

46    Chinook Jargon
49           English
29           English
28           English
27           English
26           English
48           English
37           English
38           English
40           English
17           English
34           English
42           English
14           English
41           English
12           English
1            English
13           English
8            English
7            English
9            English
43           English
22            French
4              Greek
10          Hawaiian
19           Italian
39             Latin
44             Latin
36             Latin
45             Latin
47             Latin
35             Latin
33             Latin
0              Latin
31             Latin
30             Latin
23             Latin
21             Latin
20             Latin
18             Latin
16             Latin
15             Latin
11             Latin
6              Latin
5              Latin
3              Latin
2              Latin
32             Latin
24             Latin
25           Spanish
Name: Language, dtype: object

For Series, the `value_counts` method is often quite handy.

In [233]:
mottos['Language'].value_counts()

Language
Latin             23
English           21
Greek              1
Hawaiian           1
Italian            1
French             1
Spanish            1
Chinook Jargon     1
Name: count, dtype: int64

Also commonly used is the `unique` method, which returns **all unique values** as a numpy array.

In [234]:
mottos['Language'].unique()

array(['Latin', 'English', 'Greek', 'Hawaiian', 'Italian', 'French',
       'Spanish', 'Chinook Jargon'], dtype=object)

In [235]:
def fiba(n):
    if n < 2:
        return n
    else:
        return fiba(n-1) + fiba(n-2)



fiba(5)

5

# Thank you!